.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #1d2731;
}

input {
  width: 200px;
}

.meme span {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
 /*  width: 100%; */
  max-width: 400px;
  text-align: center;
  left: 35%;
  right: 35%;
 /*  overflow-wrap: anywhere; */
  font-size: 38px;
  color: white;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000,
    0 -2px 0 rgb(255 250 250), 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000;
}

.meme span:nth-child(2)  {
  top: 80%;
  left: 40%;
}

.meme img {
  width: 100%;
}

@media (max-width: 1000px) {

  .meme span {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* width: 100%; */
    max-width: 400px;
    text-align: center;
    left: 35%;
    right: 35%;
   /*  overflow-wrap: anywhere; */
    font-size: 38px;
    color: white;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000,
      0 -2px 0 rgb(255 250 250), 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000,
      -1px 1px 0 #000;
  }

  .meme span:nth-child(2)  {
    top: 80%;
    left: 40%;
    margin-bottom: 200px;
  }
}